@use "@material/icon-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/elevation/mdc-elevation";
@use "@material/drawer";
@use "@material/list";
@use "@material/checkbox";
@use "@material/form-field";
@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";

@include icon-button.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  margin: 0;
}

aside {
  position: absolute;
}

main {
  overflow: auto;
  height: calc(100vh - 64px);
  font-family: 'Fira Mono', monospace;
}

input[type="file"] {
  opacity: 0;
  width: 0;
}

main div:first-of-type {
  height: 100%;
}

#error {
  display: inline-block;
  position: fixed;
  color: red;
  top: 64px; // FIXME
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  font-family: monospace;
}

#error:empty {
  display: none;
}
